body {background-color: powderblue; color: rgb(12, 12, 12);}


.descricao{display: flex;
justify-content: space-around;}


.produto{width: 20%;}































.topo {display: flex;
    justify-content: space-around;    
}

.alunos{display: inline-block;}